@charset "UTF-8";
/* CSS Document */

{
	margin: 0;
	padding: 0;
}

header, section, footer, aside, nav, article, div {
	display: block;
}

body {
	margin: 0 auto;
	width: 960px;
	background-color:#999;
}

header {
	font-size:16px;
	width: 960px;
	height:50px; 
	background-color:#666;
	float:left;
}

img {
	vertical-align:top;
}

@font-face {
    font-family: 'Hardcore0565';
    src: url('hardcore0565-webfont.eot');
    src: url('hardcore0565-webfont.eot?#iefix') format('embedded-opentype'),
         url('hardcore0565-webfont.woff') format('woff'),
         url('hardcore0565-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

p {
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:regular;
	text-decoration: none;
	line-height:1.5;
	padding-top:8px;
	color: #000;
}

p.credit {
	font-size:8px;
	font-family:'Hardcore0565', Arial, Helvetica, sans-serif;
	font-weight:regular;
	color:#666;
	float:left;
	padding-left:24px;
	padding-top:12px;
}

p.audio {
	font-size:8px;
	font-weight:regular;
	color:#666;
}

p.signature {
	font-weight:bold;
	color:#666;
	float:right;
}

p.grey {
	font-size:18px;
	font-weight:bold;
	color:#666;
}

h1 {
	font-size:18px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	color:#666;
	text-decoration: none;
	line-height:1.5;
	float:left;
}

a {
	outline: 0;
	font-family:'Hardcore0565', Arial, Helvetica, sans-serif;
	text-decoration:none;
	color:#666;
}

a.link{
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	text-decoration:none;
	color:#666;
}

a img {
	border: 0px;
}

a.section{
	color:#000;
	float:left;
	padding-left:24px;
	padding-top:14px;
}

a.activesection{
	color:#FFF;
	float:left;
	padding-left:24px;
	padding-top:14px;
}

a.sub{
	color:#000;
	float:right;
	padding-right:22px;
	padding-top:14px;
}

a.activesub{
	color:#FFF;
	float:right;
	padding-right:22px;
	padding-top:14px;
}

a.name{
	color:#000;
	float:left;
	padding-left:12px;
	padding-top:7px;
}

a.purchase{
	color:#000;
	float:right;
	padding-right:12px;
	padding-top:7px;
}

a.credit{
	color:#666;
}

section {
	width: 960px;
	height:210px; 
	background-color:#FFF;
	float:left;
}

section.slideshow {
	width: 960px;
	height:540px; 
	background-color:#FFF;
	float:left;
}

section.text {
	width: 960px;
	height:100%; 
	background-color:#FFF;
	float:left;
}

article {
	margin: 24px 0 0 24px;
	float:left;
}

article.text {
	width: 600px;
	margin: 0 24px 0 24px;
	float:left;
}

article.section {
	margin: 0 0 0 24px;
	width: 288px;
	height:162px; 
	float:left;
}

article.image {
	margin: 24px 0 0 24px;
	width: 288px;
	height:162px; 
	float:left;
}

article.sidebar {
	margin: 24px 24px 24px 0;
	width: 288px;
	height:162px; 
	float:left;
}

article.sample {
	margin: 0 0 0 24px;
	width: 912px;
	height:162px; 
	float:left;
}

nav {
	font-size:8px;
	width:288px;
	height:25px; 
	background-color:#666;	
}

footer {
	width:960px;
	height:50px;
}

Headline {
	color: #666;
}
